@mixin appHeading {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
    align-items: center;
}

@mixin backBtnHeading{
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

@mixin appHeader {
    font-size: 1rem;
}

@mixin home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    text-align: center;
}

@mixin profile_pic {
    display: flex;
    flex-direction: column;
    a{
        margin-top: 10px;
    }
    .myProfile_pic{
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    }
}