@import "HomeLayouts";

.addPlayer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.addPlayers_heading{
    @include backBtnHeading;
    strong{
        @include appHeader;
    }
} 

.row{
    flex-wrap: nowrap;;
}

.col-sm-2{
    width: auto; 
}

.myProfile_dp{
    @include profile_pic;
    margin-bottom: 0;
    .myProfile_pic img{
        height: 6rem;
        width: 6rem;
        box-shadow: 0px 0px 10px 0px grey;
        border-radius: 4rem;
    }
}

.addPlayer_form{
    width:100%;

    .addPlayer_form_contents{
        width: 80%;
        margin: auto;

        button{
            width: 70%;
        }
    }
}

input[type="file"] {
    display: none;
    margin-bottom: 2rem;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 1rem;
    color: #007bff;;
}

@media (min-width: 992px){
.col-lg-1 {
    max-width: 100%;
}}

.cropper-input{
    display: inline !important;
}