.addPlayer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    text-align: center;
}

.addPlayers_heading{
    border-bottom: 1px solid lightgray;
    
    strong{
        font-size: 1.5rem;
        margin-top: 25px;
        
    }
} 


.myProfile_dp{
    display: flex;
    flex-direction: column;
    margin: 50px;
    .myProfile_pic{
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    img{
        height: 8rem;
        width: 8rem;
        box-shadow: 0px 0px 10px 0px grey;
        border-radius: 4rem;
    }
    }
    a{
        margin-top: 10px;
    }
}

.addPlayer_form{
    width:100%;

    .addPlayer_form_contents{
        width: 80%;
        margin: auto;

        button{
            width: 70%;
        }
    }
}