@import "HomeLayouts";

.create_tournament_heading{
    @include backBtnHeading;
    strong{
        @include appHeader;
    }
}

.create-tournament{
    text-align: center;
}

.create_tournament_checkboxes{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    h5{
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        font-weight: bold;
    }
}

#back-button{
    background: transparent;
    border: 0;
}