@import "RegistrationLayout";

.login{
    @include regContainer;
}

.login_heading{
    @include regHeading;
}

.login_form{
    @include regForm;
}

.login_footer_note{
    position: fixed;
    bottom: 5px;
    font-size: 1rem;
}