.matches_card{
    margin: 15px;
    margin-bottom: 0;
}

.matches_card_main{
    display: flex;
    border: 1px solid lightgray;
    padding: 15px;
    align-items: center;
    box-shadow: 0 0 10px lightgrey;
}

.matches_card_left, .matches_card_right{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        height: 3rem;
        width: 3rem;
        border-radius: 2rem;
        border: 1px solid darkgray;
        
    }
    p{
        margin-bottom: 0;
        margin-top: 10px;
    }
}

.matches_card_heading{
    display: flex;
    justify-content: space-between;
    span{
        font-size: 15px;
        color: #aeb4b7;
    }
    
}

.matches_card_versus p{
    background: #e4e6e7;
    height: 35px;
    width: 35px;
    border-radius: 18px;
    text-align: center;
    padding-top: 5px;
    margin-top: 1rem;
}