@import "HomeLayouts";

.match-screen_heading{
    border-bottom: 1px solid lightgray;
    text-align: center;
    @include backBtnHeading;
    strong{
        @include appHeader;
    }
}

.match-screen-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: -webkit-fill-available;
    position: absolute;
    width: 100%;
}

.match_screen_team1, .match_screen_team2 {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    img{
        vertical-align: middle;
        border-style: none;
        height: 5rem;
        width: 5rem;
        align-self: center;
        border-radius: 3rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.match-screen-versus{
    height: 3rem;
    width: 3rem;
    background: #e4e6e7;
    border-radius: 2rem;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 15rem;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 5px;

    span{
        vertical-align: -webkit-baseline-middle;
        font-size: 17px;
    }
}

.container-1{
    position: relative;
}

.match_screen_score_comparisons{
    margin: auto;
    top: 0;
    bottom: 10rem;
    left: 0;
    right: 0;
    position: absolute;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    margin-top: 17rem;
    width: 8rem;
    height: 10rem;
}

.match_screen_score_comparison1,
.match_screen_score_comparison2,
.match_screen_score_comparison3 {
    display: flex;
    justify-content: space-between;
    border: 1px solid #aeb4b7;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
    background: white;
}

#match_screen_set_card{
    border: 1px solid gray;
    margin: auto;
    top: -150px;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 37rem;
    width: 15rem;
    height: 10rem;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    justify-content: center;

    button{
        cursor: pointer;
        background: #007bff;
        color: white;
        border-radius: 10px;
        height: 3rem;
        font-size: 1.1rem;
    }

    p{
        margin-bottom: 1rem;
        font-size: 20px;
        color: gray;
        margin-top: 10px;
    }
}

.give-bye{
    color: #007bff;
}

.scores-updater{
    margin-top: 12rem;
    display: none;
    button{
        height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: white;
    font-size: 30px;
    }
    .score-decrease{
        background: red;
    }
    .score-increase{
        background: green;;
    }
    p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 35px;
    }
}

#trophy11{
    position: absolute;
    right: 9rem;
    bottom: 7rem;
}

#trophy12{
    position: absolute;
    left: 9rem;
    bottom: 7rem;
}

#trophy21{
    position: absolute;
    right: 9rem;
    bottom: 4rem;
}

#trophy22{
    position: absolute;
    left: 9rem;
    bottom: 4rem;
}

#trophy31{
    position: absolute;
    right: 9rem;
    bottom: 1rem;
}

#trophy32{
    position: absolute;
    left: 9rem;
    bottom: 1rem;
}

.trophy-icon{
 display: none;   
}

#party-emoji{
    font-size: 40px !important;
}