@import "Variables";
@import "HomeLayouts";

.myProfile{
    text-align: center;
}

.myProfile_heading strong{
    @include appHeader;
}

.myProfile_banner{
    width: 100%;
    height: 10rem;
    background-color: $theme-blue;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-bottom: -7rem;
}

.myProfile_dp{
    @include profile_pic;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .myProfile_pic{
        margin-bottom: -25px;
    }
    .myProfile_pic img{
        height:10rem;
        width:10rem;
        box-shadow: 0px 0px 10px 5px grey;
    }
}

.myProfile_details{
    display: flex;
    flex-direction: column;
    h4,h5,h6{
        margin-bottom: 15px;
        margin-top: 0;
    }
    a{
        margin-top: 50px;
    }
}



@media (max-width:425px){
    
}