@import "RegistrationLayout";

.otp{
    @include regContainer;
    justify-content: space-between;
    height: 20rem;
}

.otp_heading{
    @include regHeading;
}

.otp_form{
    @include regForm;
}

.otp-resend-btn{
    margin-top: 0.8rem;
    border: 0 !important;
}
