@import "HomeLayouts";

.players{
    @include home;
}

.players-heading{
    @include appHeading;
    strong{
        @include appHeader;
    }
} 

.player_card{
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0px 6px lightgrey;
    margin: 15px;
    justify-content: start;
    padding: 15px;
}

.player_details{
    margin-left: 20px;
    text-align: left;
    p{
        margin-top: 0;
        font-weight: bolder;
        font-size: 20px;
        text-align: left;
    }
    
    .pd_sex{
        margin-left: 25px;
    }
    
}

