@import "RegistrationLayout";

.signup{
    @include regContainer;
    height: 28rem;
}

.signup_heading{
    @include regHeading;
}

.signup_form{
    @include regForm;
}

.error_message p{
    color: red;
}

.reg_footer_note{
        position: fixed;
        bottom: 5px;
        font-size: 1rem;
    }
