.tournament_card{
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0px 15px lightgrey;
    margin: 10px;
    justify-content: center;
    padding: 15px;
}

.tc_pic img{
    vertical-align: middle;
    border-style: none;
    height: 70px !important;
    width: 70px !important;
    border-radius: 40px;
    margin-left: 0px; 
    margin-right: 1rem;
}

.tc_details{
    p{
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: bolder;
        font-size: 15px;
    }
    
    .tcd_l{
        font-size: small;
        color: lightslategray;
    }
    
}