.tournament_card{
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0px 15px lightgrey;
    margin: 5px;
    justify-content: start;
    padding: 10px;
}

.tc_pic img{
    vertical-align: middle;
    border-style: none;
    height: 70px !important;
    width: 70px !important;
    border-radius: 40px;
    margin-left: 0px; 
    margin-right: 2rem !important;
}

.tc_details{
    text-align: left;
    p{
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: bolder;
        font-size: 17px;
    }
    
    .tcd_l{
        font-size: small;
        color: lightslategray;
    }
    
}

.ttapp-card:hover{
    transform: scale(0.95);
}

// height: 70px;
// width: 70px;
// display: inline-block;
// background-image: url(/static/media/welcome.14725d0e.png);
// background-position: center;
// background-size: cover;
// background-repeat: no-repeat;
// border-radius: 50%;
// margin-left: 0px;
// margin-right: 2rem;
// box-shadow: 0px 0px 10px grey;